/* GENERAL */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: blanchedalmond;
}

a {
    text-decoration: none;
    color: black;
}

/* IDs */

#container {
    width: 1200px;
    margin: auto;
}

#container-scroll {
    height: 1200px;
    overflow-y:auto;
}

#container-profile {
    margin-top: 150px;
    width: 1200px;
    display: flex;
}

#container-about {
    width: 1200px;
    font-family: genome-thin;
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
    padding: 20px;
    margin-bottom: 300px;
}

#container-contact {
    margin-top: 300px;
    width: 1200px;
    font-family: genome-thin;
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
    padding: 20px;
}

#container-contact {
    margin-top: 300px;
    margin-bottom: 300px;
}

#container-about h1,
#container-contact h1,
#container-projects h1 {
    font-size: 70px;
    font-family: light-pixel;
    text-shadow: 1px 1px 1px darkgray;
}

#container-projects h1 {
    margin-bottom: 50px;
}

#container-about p,
#container-contact p,
#container-projects p {
    margin-top: 25px;
}

#container-profile-left {
    height: 500px;
    width: 700px;
    padding: 20px;
    font-family: genome-thin;
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
}

#container-profile-left h1 {
    font-size: 70px;
    font-family: light-pixel;
    margin-top: 125px;
    text-shadow: 1px 1px 1px darkgray;
}

#container-profile-left p {
    margin-top: 25px;
}

#container-profile-right {
    height: 500px;
    width: 500px;
    padding: 20px;
    display: flex;
}

#container-profile-right img {
    margin: auto;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    border: 7px solid black;
}

#container-projects {
    width: 1200px;
    font-family: genome-thin;
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
    padding: 20px;
}

#header {
    position: fixed;
    display: flex;
    margin-left: 18px;
    z-index:99;
    background:blanchedalmond;
    width: 100%;
}

#header li {
    list-style-type: none;
    margin-right: 50px;
    padding: 10px 0;
    font-family: pixel;
    font-size: 40px;
    text-shadow: 1px 1px 1px darkgray;
}

#header a {
    cursor: pointer;
}

#header a:hover {
    color: red;
}

#resume {
    margin-left: 475px;
}

#resume:hover {
    color:red;
}

#second-link {
    height: 100px;
    width: 100px;
    position:unset;
    margin-top: 200px;
}

#third-link {
    height: 100px;
    width: 100px;
    position:unset;
    margin-top: 200px;
}

/* FONTS */
@font-face {
    font-family: pixel;
    src: url(fonts/pixel.ttf);
}

@font-face {
    font-family: light-pixel;
    src: url(fonts/light_pixel-7.ttf);
}

@font-face {
    font-family: genome-thin;
    src: url(fonts/Genome-Thin.otf);
}

/* CLASSES */
.accent-1 {
    font-family: pixel;
    font-size: 50px;
    text-shadow: 1px 1px 1px darkgray;
}

.hidden {
    opacity: 0;
    transition: all 1s;
    filter: blue(5px);
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.column {
    display: flex;
}

.row {
    margin-right: 250px;
}

.folder-icon {
    height: 200px;
}

.folder-label {
    height: 50px;
    width: 160px;
    background-color:rgb(255, 245, 238, 0.6);
    margin: -130px 0 0 20px;
    position: absolute;
    text-align: center;
    transform: rotate(-15deg);
    font-size: 17.5px;
    text-shadow: 1px 1px 1px darkgray;
}

.folder-label:hover {
    color: rgb(201, 0, 0);
    font-size: 17px;
    text-shadow: 1px 1px 1px darkgray;
}

/* MEDIA QUERIES */
@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

/* ETC. */
::-webkit-scrollbar {
    width: 0px;
  }
